<nav class="navbar">
    <div class="wrapper navbar__wrapper">
        <div class="navbar__site-name">
            <a href='/'> <%= users[0].username %>'s blog </a>
        </div>
        <ul class="navbar__list">
            <div>
                <li><a href="/category">Article category</a></li>
            </div>
            <div>
                <% if(!username) { %>
                    <li><a href="/login">login in</a></li>
                <% } %>
                <% if(username) { %>
                    <li><a href="/write">Write</a></li>
                    <li><a href="/logout">Log out</a></li>
                <% } %>
                <div class="navbar__avatar">
                    <img src="/trump.jpg"/>
                </div>
            </div>
        </ul>
    </div>
</nav>